<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- РАЗРЕШЕНИЯ ДОЛЖНЫ БЫТЬ ЗДЕСЬ - на уровне корневого элемента <manifest> -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Для Android 10+ (API 29+) -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoKusochka">

        <!-- Главная активность (Splash Screen) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DoKusochka">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Меню для клиента (Пиццы) -->
        <activity
            android:name=".MenuActivity"
            android:label="Меню"
            android:theme="@style/Theme.DoKusochka" />

        <!-- Меню напитков -->
        <activity
            android:name=".MenuDrinksActivity"
            android:label="Напитки"
            android:theme="@style/Theme.DoKusochka" />

        <!-- Меню закусок -->
        <activity
            android:name=".MenuSnacksActivity"
            android:label="Закуски"
            android:theme="@style/Theme.DoKusochka" />

        <!-- Авторизация (единая для пользователей и администраторов) -->
        <activity
            android:name=".ClientAuthActivity"
            android:label="Авторизация"
            android:theme="@style/Theme.DoKusochka" />

        <!-- Регистрация клиента -->
        <activity
            android:name=".ClientRegActivity"
            android:label="Регистрация"
            android:theme="@style/Theme.DoKusochka" />

        <!-- Профиль клиента -->
        <activity
            android:name=".ClientProfileActivity"
            android:label="Мой профиль"
            android:theme="@style/Theme.DoKusochka" />


        <!-- Панель управления администратора -->
        <activity
            android:name=".AdminManagementActivity"
            android:label="Панель администратора"
            android:theme="@style/Theme.DoKusochka" />

        <!-- Управление меню (админ) -->
        <activity
            android:name=".MenuManagementActivity"
            android:label="Управление меню"
            android:theme="@style/Theme.DoKusochka" />

        <!-- Корзина -->
        <activity
            android:name=".CartActivity"
            android:label="Корзина"
            android:theme="@style/Theme.DoKusochka" />

        <!-- Управление заказами (админ) -->
        <activity
            android:name=".OrdersActivity"
            android:label="Управление заказами"
            android:theme="@style/Theme.DoKusochka" />

        <!-- Активность удаления пиццы -->
        <activity
            android:name=".DeletePizzaActivity"
            android:screenOrientation="portrait" />

        <!-- Активность экспорта данных -->
        <activity
            android:name=".ExportActivity"
            android:label="Экспорт данных"
            android:theme="@style/Theme.DoKusochka" />

        <!-- ⭐⭐⭐ ДОБАВЬТЕ ЭТОТ ПРОВАЙДЕР ДЛЯ РАБОТЫ С ФАЙЛАМИ ⭐⭐⭐ -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- ⭐⭐⭐ КОНЕЦ ДОБАВЛЕНИЯ ⭐⭐⭐ -->

    </application>

</manifest>